<div class="container">
    <!-- Footer -->
    <footer class="page-footer font-small dark pt-4">

      <!-- Footer Links -->
      <div class="container-fluid">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mb-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
                <button class="btn btn-secondary" type="button">Sign up</button>
              </div>

            </div>
            <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Your email"
                aria-label="Your email">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Sign up</button>
              </div>
            </form>
    
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3 row">
            <!-- Links -->
              <div class="p-2">
                <a href="www.facebook.com" style="width:40px;">
                  <img src="assets/logos/023-facebook.png" alt="" style="width:40px;">
                </a>
              </div>
              <div class="p-2">
                <a href="#!"></a>
                <img src="assets/logos/032-github.png" alt="" style="width:40px;">
              </div>
              <div class="p-2">
                <a href="#!"></a>
                <img src="assets/logos/044-instagram.png" alt="" style="width:40px;">
              </div>
              <div class="p-2">
                <a href="#!"></a>
                <img src="assets/logos/052-linkedin.png" alt="" style="width:40px;">
              </div>
              <div class="p-2">
                <a href="#!"></a>
                <img src="assets/logos/096-twitter.png" alt="" style="width:40px;">
              </div>
          </div>
        </div>
        <!-- Grid row -->

      </div>
    </footer>
    <!-- Footer -->
  </div>