<div class="p-0">
  <img src="assets/img/main_background.jpg" class="img-fluid" alt="Main Background Image">
</div>

<div class="row">
  <div class="col pr-0">
    <div class="hover hover-1 text-white rounded"><img src="assets/img/writing_background.jpg" alt="">
      <div class="hover-overlay"></div>
      <div class="hover-1-content">
        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light  ml-10">Image </span>Caption</h3>
        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col p-0">
    <div class="hover hover-1 text-white rounded"><img src="assets/img/writing_background.jpg" alt="">
      <div class="hover-overlay"></div>
      <div class="hover-1-content">
        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Image </span>Caption</h3>
        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col p-0">
    <div class="hover hover-1 text-white rounded"><img src="assets/img/writing_background.jpg" alt="">
      <div class="hover-overlay"></div>
      <div class="hover-1-content">
        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Image </span>Caption</h3>
        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
